<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>taf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adrift Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.adrift</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleSignature</key>
	<string>YZZY</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adrift Story</string>
			<key>UTTypeIdentifier</key>
			<string>public.adrift</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>taf</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>ZoomPlugin</key>
	<dict>
		<key>Author</key>
		<string>C.W. Betts</string>
		<key>DisplayName</key>
		<string>JACL</string>
		<key>Image</key>
		<string>../../Resources/GlkClient.icns</string>
		<key>InterpreterAuthor</key>
		<string>Stuart Allen</string>
		<key>InterpreterVersion</key>
		<string>4.2.5</string>
		<key>Version</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>ZoomVersion</key>
		<integer>112</integer>
	</dict>
</dict>
</plist>
